@inject AuthenticationStateProvider AuthState

<div class="top-row ps-3 navbar navbar-dark">
    <div class="sidebar-header">
        <span >Система лояльности <br/> One Chef Studio </span>
    </div>
</div>

<div>
    <nav class="nav-menu-large flex-column">
        <CascadingAuthenticationState>
            <AuthorizeView Roles="Employee,Admin">
                <div class="nav-item">
                    <NavLink class="nav-link" href="/customers">
                        <span class="oi oi-people custom-menu-icon" aria-hidden="true"></span>
                        <span class="custom-menu-text">
                            Список<br />клиентов
                        </span>
                    </NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="Employee,Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/journal">
                        <span class="oi oi-spreadsheet custom-menu-icon" aria-hidden="true"></span>
                        <span class="custom-menu-text">
                            Журнал<br />действий
                        </span>
                    </NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/adminpanel">
                        <span class="oi oi-monitor custom-menu-icon" aria-hidden="true"></span>
                        <span class="custom-menu-text">
                            Управление
                        </span>
                    </NavLink>
                </div>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>