@inject AuthenticationStateProvider AuthState
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LoyaltyApp</a>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <CascadingAuthenticationState>
            <AuthorizeView Roles="Employee,Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/customers">
                        <span class="oi oi-people" aria-hidden="true"></span> Список клиентов
                    </NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/adminpanel">
                        <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Управление
                    </NavLink>
                </div>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}